.navbar.navbar-default
	.container
		.navbar-header
			a(href='#').navbar-brand Yyg & Zsn's Home
		form.navbar-form.navbar-right(role="login")
			.form-group
				input.form-control(name="username" type="text" placeholder="Username") 
			.form-group
				input.form-control(name="password" type="text" placeholder="Password") 
			button(type="submit" class="btn btn-success") Sign in
			button(type="submit" class="btn btn-danger") Sign up
