.myJumbotron {
  height: 300px;
  background-image: url("/images/jumbotron.jpg");
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden; }

.motto {
  margin-top: 100px;
  color: white;
  position: absolute; }

.welcome {
  color: white;
  margin-top: 182px;
  position: absolute; }

.welcome-right {
  color: white;
  margin-top: 122px;
  position: absolute; }

.intro {
  color: white;
  margin-top: 182px;
  position: absolute;
  right: 15%; }

.section1 {
  background-color: #e9f0f5;
  height: 300px; }

.myTimeLine {
  position: relative;
  height: 100%; }
  .myTimeLine.animation::before {
    animation: timeLineAnimation 5s forwards; }
@keyframes timeLineAnimation {
  from {
    width: 0px; }
  to {
    width: inherit; } }
  .myTimeLine::before {
    content: '';
    height: 4px;
    background-color: #d7e4ed;
    position: absolute;
    margin-top: 185.4px;
    width: 0px;
    transition: width 2s;
    margin-left: -15px; }
  .myTimeLine .myTimeLine-item .myTimeLine-item-img {
    border: 5px solid white;
    height: 30px;
    width: 30px;
    background-color: #5DEEAF;
    border-radius: 30px;
    position: absolute;
    top: 172.4px;
    transition: width 2s ease, height 2s ease, margin-left 2s ease, margin-top 2s ease; }
    .myTimeLine .myTimeLine-item .myTimeLine-item-img:hover {
      width: 50px;
      height: 50px;
      margin-left: -10px;
      margin-top: -10px; }
      .myTimeLine .myTimeLine-item .myTimeLine-item-img:hover .myTimeLine-item-content svg {
        opacity: 1; }
        .myTimeLine .myTimeLine-item .myTimeLine-item-img:hover .myTimeLine-item-content svg path, .myTimeLine .myTimeLine-item .myTimeLine-item-img:hover .myTimeLine-item-content svg polygon {
          stroke-dashoffset: 0; }
      .myTimeLine .myTimeLine-item .myTimeLine-item-img:hover .myTimeLine-item-content p {
        opacity: 1; }
    .myTimeLine .myTimeLine-item .myTimeLine-item-img .myTimeLine-item-content {
      position: absolute; }
      .myTimeLine .myTimeLine-item .myTimeLine-item-img .myTimeLine-item-content svg {
        opacity: 0;
        transition: opacity 2s ease; }
        .myTimeLine .myTimeLine-item .myTimeLine-item-img .myTimeLine-item-content svg path, .myTimeLine .myTimeLine-item .myTimeLine-item-img .myTimeLine-item-content svg polygon {
          fill: white;
          stroke: orange;
          stroke-width: 5px;
          stroke-dasharray: 1500;
          stroke-dashoffset: -1500;
          transition: stroke-dashoffset 3s ease; }
      .myTimeLine .myTimeLine-item .myTimeLine-item-img .myTimeLine-item-content p {
        opacity: 0;
        transition: opacity 2s ease; }
    .myTimeLine .myTimeLine-item .myTimeLine-item-img .pWrapper {
      height: 100px;
      width: 200px;
      position: relative;
      margin-top: -100px;
      padding: 25px; }
    .myTimeLine .myTimeLine-item .myTimeLine-item-img .timeWrapper {
      position: relative;
      margin-top: 80px;
      margin-left: 30px;
      padding: 25px; }

.section1Img {
  background-image: url("/images/section1.jpg");
  width: 100%;
  height: 600px;
  background-size: cover;
  background-attachment: fixed; }

.section2 {
  background-color: #4BF181;
  height: 300px; }

/*# sourceMappingURL=index.css.map */
