extends ../layout
block head
	title #{title}
	link(href="css/blog.css" rel="stylesheet")
block content
	.container
		.row
			.col-md-6 
				a.btn.btn-default.bigButton(href='/blog/guest/list') 查看文章
			.col-md-6
				a.btn.btn-default.bigButton(href='/blog/admin/new') 发表文章